@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
  --text-white: #fff;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  align-items: center;
  max-width: 100%;
  justify-content: center;
  margin: 0;

  background-color: #efedd6;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  margin: 10px;
}

button {
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
}
.box {
  background-color: steelblue;
  color: darkblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.8);
  transform: translateX(350%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-350%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}
